/* 
Primary Green: #8ab255; 
Secondary Green: #6f9142; 
Primary Blue: #40b1bd;
Secondary Blue: #30a4b1;
Primary Orange: #POrange; 
Secondary Orange: #fce4bd;
*/
$PGreen: #8ab255;
$SGreen: #6f9142;
$PBlue: #40b1bd;
$SBlue: #30a4b1;
$POrange: #f5a623;
$SOrange: #fce4bd;

$base-unit: 40px;

%button {
  outline: none;
  margin: 10px;
  background-color: $PGreen;
  border: none;
  color: white;
  width: 200px;
  height: 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.25s ease;
}

html {
  box-sizing: border-box;
  font-family: sans-serif; 
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f1f1f1;
  margin: 0;
  text-align: center;
}

section {
  padding: 20px;
  border-bottom: solid 1px #d6d6d6;
  border-top: solid 1px white;
  width: 90vw;
  margin: 0 auto;
}

.button {
  @extend %button; 
}

.signup-main {
  @extend %button;
  border: solid 1px;
  border-color: $SGreen;
  &:hover {
    background-color: $SGreen;
  }
}

.login {
  @extend %button;
  &:hover {
    background-color: #SGreen;
  }
}

.save-image:hover,
.update-pw:hover,
.add-email:hover {
  background-color: #SGreen;
}

.signup {
  @extend %button;
  background-color: Transparent;
  color: $PGreen;
  border: solid 1px $PGreen;
  &:hover {
    background-color: $PGreen;
    color: white;
  }
}

.social {
  margin: 10px auto 20px;
  width: $base-unit;
  height: $base-unit;
  border: solid 1px $PGreen;
  border-radius: 4px;
  background-color: Transparent;
  cursor: pointer;
  font-size: 18pt;
  line-height: 1.45;
  color: $PGreen;
  &:hover {
    background: $PGreen;
    color: white;
  }
}

.fa-stack-1x,
.fa-stack-2x {
  position: inherit;
}

.submit,
.send {
  @extend %button;
  width: 90px;
  height: $base-unit;
  &:hover {
    background-color: #SGreen;
  }
}

.facebook,
.twitter {
  margin: 10px auto;
  height: 38px;
  padding: 10px;
  border-radius: 4px;
  width: 120px;
  font-weight: 100;
  font-family: sans-serif;
}

.facebook {
  border: solid 1px #3b5998;
  color: #3b5998;
  cursor: pointer;
  &:hover {
    background: #3b5998;
    color: white;
  }
}

.twitter {
  border: solid 1px #1da1f2;
  color: #1da1f2;
  cursor: pointer;
  &:hover {
    background: #1da1f2;
    color: white;
  }
}

.student,
.professional {
  @extend %button;
  background-color: grey;
  &:hover {
    background-color: $PBlue;
  }
}

.home {
  @extend %button;
  margin: 10px auto 20px;
  width: $base-unit;
  height: $base-unit;
  border: solid 1px $PBlue;
  background-color: Transparent;
  color: $PBlue;
  font-size: 18pt;
  line-height: 1.4;
  &:hover {
    background-color: $PBlue;
    color: white;
  }
}

.dismiss {
  @extend %button;
  @extend .home;
  border: none;
  color: $POrange;
  &:hover {
    background-color: $POrange;
    color: white;
  }
}

.select-image {
  @extend %button;
  background-color: Transparent;
  border: solid 1px $PGreen;
  color: $PGreen;
  &:hover {
    background-color: $PGreen;
    color: white;
  }
}

.add-email,
.save-image,
.select-image {
  @extend %button;
  width: 100px;
  height: $base-unit;
}

.update-pw {
  @extend %button;
  width: 130px;
  height: 40px
}

//===========================================
// The Confirmed button Style
// Thx Valentin's Pen for reference http://codepen.io/asstor_/pen/MYMZZK
.confirm-button {
  border-radius: 4px;
  border: 1px solid $PGreen;
  color: white;
  cursor: pointer;
  &:hover {
    background: $SGreen;
    border: 1px solid $SGreen;
  }
}

.onclic {
  background-color: Transparent;
  width: 40px;
  border-color: lightgrey;
  border-width: 3px;
  border-radius: 44px;
  color: Transparent;
  border-left-color: $PGreen;
  animation: rotating 2s 0.25s linear infinite;
  &:hover {
    background: Transparent;
    border-width: 3px;
    border-color: lightgrey;
    border-left-color: $PGreen;
  }
}

.validate {
  color: $PGreen;
  background: Transparent;
  &:after {
    font-family: 'FontAwesome';
    content: " \f00c";
  }
  &:hover {
    background: Transparent;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
//End of Confirm button
//===========================================

.education-wrapper {
  margin: 50px auto; 
}
.education-content {
  padding: 20px;
  display: none; 
}
.view-all {
  @extend %button;
  background-color: $PBlue;
  height: 30px; 
  margin: 0;
  transition: all 500ms ease-in-out;
  .reply {
    color: white;
    display: none; 
  }
}

.connect, .request, .review {
  @extend %button;
  background-color: $PBlue; 
  height: 40px; 
  &:hover {
    background-color: $SBlue;
  }
}

//====================================================
// Date picker 
// thx for Ashley's pen http://codepen.io/aktorou/pen/MymKoB?editors=0110

.date-picker {
  margin: 100px auto;
  border-radius: 4px;
  width: 300px;
  height: auto;
  max-height: 50px;
  background: white;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;

  .input {
    width: 100%;
    height: 50px;
    font-size: 0;
    cursor: pointer;

    .result, button {
      display: inline-block;
      vertical-align: top;
    }

    .result {
      width: calc(100% - 50px);
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      padding: 0 10px;
      color: grey;
      box-sizing: border-box;
    }

    button {
      width: 50px;
      height: 50px;
      background-color: #40b1bd;
      color: white;
      line-height: 50px;
      border: 0;
      font-size: 18px;
      padding: 0;

      &:hover {
        background-color: #30a4b1;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  .calendar {
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 0px;
    overflow: hidden;
  }

  .ui-datepicker-inline {
    position: relative;
    width: 100%;
  }

  .ui-datepicker-header {
    height: 100%;
    line-height: 50px;
    background: #40b1bd;
    color: #fff;
    margin-bottom: 10px;
  }

  .ui-datepicker-prev, .ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border: 2px solid #fff;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
  }

  .ui-datepicker-prev {
    float: left;
    margin-left: 12px;

    &:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin: -43px 0px 0px 8px;
    }
  }

  .ui-datepicker-next {
    float: right;
    margin-right: 12px;

    &:after {
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      margin: -43px 0px 0px 6px;
    }
  }

  .ui-datepicker-prev:after, .ui-datepicker-next:after {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  .ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
    border-color: #30a4b1;
  }

  .ui-datepicker-title {
    text-align: center;
  }

  .ui-datepicker-calendar {
    width: 100%;
    text-align: center;

    thead tr th span {
      display: block;
      width: 100%;
      color: #40b1bd;
      margin-bottom: 5px;
      font-size: 13px;
    }
  }

  .ui-state-default {
    display: block;
    text-decoration: none;
    color: #b5b5b5;
    line-height: 40px;
    font-size: 12px;

    &:hover {
      background: rgba(0, 0, 0, 0.02);
    }
  }

  .ui-state-highlight {
    color: #30a4b1;
  }

  .ui-state-active {
    color: #30a4b1;
    background-color: rgba(131, 146, 167, 0.12);
    font-weight: 600;
  }

  .ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
  }

  &.open {
    max-height: 400px;
  }
}
//End of Date Picker